@import '../variables.scss';

form {
    font-size: 1em;
    max-width: 500px;

    label {
        color: $primary_light_90;
        display: flex;
            flex-wrap: wrap;
        font-weight: bold;
        margin: 10px 0;
    }

    input, textarea {
        border: 1px solid $primary;
        background: $primary_light_10;
        margin-left: auto;
        padding: 5px 10px;
        width: 60%;
    }

    textarea {
        display: block;
        margin-top: 10px;
        width: 100%;
    }

    button {
        font-size: 1em;
        padding: 10px 25px;
    }
}

.split {
    display: flex;
    justify-content: space-between;

    > * {
        padding: 10px;
        width: 48%;
    }
}

iframe {
    border: none;
}