@import '../variables.scss';

main {
    clear: both;
    margin: 0 auto;
    padding-top: 65px + 10px + $header_sml;
    width: 90%;
        max-width: 1000px;

    img {
        display: block;
        float: left;
        max-height: 350px;
        margin: 0 10px 10px;
        max-width: 350px;

        &.right {
            float: right;
        }
    }
}

summary {
    color: $primary_dark_90;
    font: $font_headings;
    font-size: 1.2em;
    list-style: none;

    &::-webkit-details-marker {
        display: none;
    }
}

.testimonial {
    color: $primary;
    font-size: 1.1em;

    &:before {
        color: $secondary_light_50;
        font-weight: bold;
        font-size: 15em;
        top: -0.13em;
        left: -0.1em;
        z-index: -1;
    }

    &:after {
        content: normal;
    }

    span {
        color: $primary_dark_90;
        font-size: 0.9em;
        padding-left: 1em;

        &:before {
            content: '-';
            margin-right: 0.5em;
        }
    }
}

@media (min-width: 640px) {
    main {
        padding-top: 0;
    }
}

@media (min-width: 1000px) {
    main {
        padding-top: $content_padding_top;
    }
}