@import '../variables.scss';

main {
    margin: 0 auto;
    padding-top: 65px + 10px + $header_sml;
    max-width: 1000px;
}

@media (min-width: 640px) {
    main {
        padding-top: 0;
    }
}

@media (min-width: 1000px) {
    main {
        padding-top: $content_padding_top;
    }
}

summary {
    color: $primary_dark_90;
    font: $font_headings;
    font-size: 1.2em;

    list-style: none;

    &::-webkit-details-marker {
        display: none;
    }
}