@import '../variables.scss';

header {
    background: #fff;
    display: flex;
        flex-wrap: wrap;
    padding: 10px 10px 65px;
    position: fixed;
        top: 0;
        right: 0;
        left: 0;
    z-index: 50;

    img, svg {
        max-height: 100%;
    }

    .logo {
        height: $header_sml;
        padding: 5px;
        width: 100%;

        &:active, &:hover, &:focus {
            background: $primary_light_25;
        }
    } 

    @keyframes scrolling {
        0% {
            opacity: 1;
        }
    
        50% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    nav {
        align-self: center;
        border-top: 2px solid $primary;
        border-bottom: 2px solid $primary;
        display: flex;
            align-items: center;
        font: $font_headings;
        font-size: 1em;
        overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        padding: 5px 0;
        position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        white-space: nowrap;

        &::-webkit-scrollbar {
            height: 0px;
            width: 0px;
        }

        &:hover, &:focus {
            &:after {
                content: normal;
            }
        }

        &:after {
            animation: scrolling 2s linear infinite;
            color: $primary;
            content: '\00BB';
            font-size: 2em;
            position: absolute;
                right: 10px;
                bottom: 0;
        }

        a {
            border-right: 2px solid $primary;
            display: block;
            padding: 5px 10px;
            text-decoration: none;

            &:active, &:hover, &:focus {
                background: $primary_light_10;
            }
        }
    }

    .phone {
        align-self: center;
        display: block;
        padding: 5px 10px;
        position: absolute;
            top: 10px;
            right: 0px;

        span {
            display: none;
        }
    }
}

@media (min-width: 700px) {
    header {
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 0.8em;
        margin: 0 auto;
        padding: 20px;
        position: relative;
        max-width: 1200px;

        .logo {
            padding: 0;
            width: 20%;
        }

        nav {
            border: none;
            overflow-x: visible;
            position: relative;

            &:after {
                content: normal;
            }

            a {
                &:last-child {
                    border-right: none;
                }
            }
        }

        .phone {
            display: flex;
            align-items: center;

            span {
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}

@media (min-width: 870px) {
    header {
        font-size: 1em;
    }
}

@media (min-width: 950px) {
    header {
        font-size: 1.2em;
    }
}

@media (min-width: 1000px) {
    header {
        font-size: 1.4em;
        height: $header_lrg - $header_overlay;

        .logo {
            height: $header_lrg;
        }

        .phone {
            font-size: 0.7em;
        }
    }
}