$font_regular: 400 1em/1.2 'Muli', Arial, sans-serif;
$font_bold: 700 1em/1.2 'Muli', Arial, sans-serif;
$font_headings: 400 1.5em 'Ovo', serif;

$primary: #3e3582;
    $primary_light_90: #51498f;
    $primary_light_75: #6e68a1;
    $primary_light_50: #9f9ac1;
    $primary_light_25: #cfcde0;
    $primary_light_10: #ecebf3;

    $primary_dark_90: #383075;
    $primary_dark_75: #2f2862;
    $primary_dark_50: #1f1b41;
    $primary_dark_25: #100d21;
    $primary_dark_10: #06050d;

$secondary: #ffff00;
    $secondary_light_90: #ffff19;
    $secondary_light_75: #ffff40;
    $secondary_light_50: #ffff80;
    $secondary_light_25: #ffffbf;
    $secondary_light_10: #ffffe6;

    $secondary_dark_90: #e6e600;
    $secondary_dark_75: #bfbf00;
    $secondary_dark_50: #808000;
    $secondary_dark_25: #404000;
    $secondary_dark_10: #1a1a00;

$neutral: #333333;
    $neutral_light_90: #474747;
    $neutral_light_75: #666666;
    $neutral_light_50: #999999;
    $neutral_light_25: #cccccc;
    $neutral_light_10: #ebebeb;

    $neutral_dark_90: #2e2e2e;
    $neutral_dark_75: #262626;
    $neutral_dark_50: #1a1a1a;
    $neutral_dark_25: #0d0d0d;
    $neutral_dark_10: #050505;


$header_sml: 100px;
$header_lrg: 170px;
$header_overlay: 40px;
$content_padding_top: 50px;