$font_regular: 400 1em/1.2 'Muli', Arial, sans-serif;
$font_bold: 700 1em/1.2 'Muli', Arial, sans-serif;
$font_headings: 400 1.5em 'Ovo', serif;

$primary: #51499b;
    $primary_light_90: #69639c;
    $primary_light_75: #827dad;
    $primary_light_50: #aca9c8;
    $primary_light_25: #d5d4e4;
    $primary_light_10: #eeeef4;

    $primary_dark_90: #4f4a83;
    $primary_dark_75: #423e6d;
    $primary_dark_50: #2c2949;
    $primary_dark_25: #161524;
    $primary_dark_10: #09080f;

$secondary: #FFF200;
    $secondary_light_90: #fff319;
    $secondary_light_75: #fff540;
    $secondary_light_50: #fff980;
    $secondary_light_25: #fffcbf;
    $secondary_light_10: #fffee6;

    $secondary_dark_90: #e6da00;
    $secondary_dark_75: #bfb600;
    $secondary_dark_50: #807900;
    $secondary_dark_25: #403d00;
    $secondary_dark_10: #1a1800;

$neutral: #333333;
    $neutral_light_90: #474747;
    $neutral_light_75: #666666;
    $neutral_light_50: #999999;
    $neutral_light_25: #cccccc;
    $neutral_light_10: #ebebeb;

    $neutral_dark_90: #2e2e2e;
    $neutral_dark_75: #262626;
    $neutral_dark_50: #1a1a1a;
    $neutral_dark_25: #0d0d0d;
    $neutral_dark_10: #050505;


$header_sml: 100px;
$header_lrg: 170px;
$header_overlay: 40px;
$content_padding_top: 50px;